.counter-page {
    text-align: center;
}



.btn_back {
    /*display: block;*/
    background-color: #3137C9;
    color: #fff;

    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;

    border-radius: 5px;
    border: none;
    outline: none;

    transition: background-color .2s linear;
}

.btn_back:hover {
    background-color: #1b2062;
}