.homepage {
    text-align: center;
}

.btn {
    color: #fff;

    padding: 10px 20px;
    font-size: 16px;
    margin: 10px 0;

    border-radius: 5px;
    border: none;
    outline: none;

    cursor: pointer;

    transition: background-color .2s linear;
}

.btn_red {
    background-color: #ED3024;
}

.btn_red:hover {
    background-color: #CD251A;
}

.btn_blue {
    background-color: #0d4dd4;
    margin-left: 10px;
}

.btn_blue:hover {
    background-color: #141a53;
}

.btn_green {
    background-color: #8bde7f;
    margin-left: 10px;
}

.btn_green:hover {
    background-color: #50804d;
}