.todo__item {
    /*text-align: center;*/
    background-color: #1d59c4;
    /*color: #ffffff;*/
    /*max-width: 322px;*/
    /*margin: 0 auto;*/
    /*border-radius: 5px;*/
    /*font-size: 20px;*/
    /*padding: 10px;*/
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 1px solid #ffffff;
    padding: 5px;
    cursor: pointer;
}

.todo__closer {
    cursor: pointer;
    font-size: 20px;
}